@model eShopSolution.ViewModels.Catalog.Categories.CategoryAssignRequest

@{
    ViewData["Title"] = "Gán danh mục";
}


<div class="container-fluid px-4">
    <h1 class="mt-4">Gán quyền</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
        <li class="breadcrumb-item active">Gán danh mục</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <a class="btn btn-success" asp-action="Index" asp-controller="Product">Về danh sách</a>
        </div>
        <div class="card-body">
            <div class="col-md-4">
                <form asp-action="CategoryAssign">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    @for (var i = 0; i < Model.Categories.Count; i++)
                    {
                        <div class="form-group">
                            <label asp-for="Categories[i].Name" class="control-label">
                                @Model.Categories[i].Name
                                <input type="checkbox" asp-for="Categories[i].Selected" />
                                <input type="hidden" asp-for="Categories[i].Name" />
                                <input type="hidden" asp-for="Categories[i].Id" />
                            </label>
                        </div>
                    }
                    <div class="form-group">
                        <input type="submit" value="Lưu" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
